<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <h1>Edit <%= plainData.User.username %> Profile</h1>

    <p>
      <% if (plainData.imageURL) { %>
        <img
          style="width: 150px; height: 100px"
          src="<%= plainData.imageURL %>"
          alt="Profile Picture"
        />
      <% } else { %>
        <p>No profile image uploaded yet.</p>
      <% } %>
    </p>

    <form action="/profile/edit" method="post" enctype="multipart/form-data">
      <label for="name">Name</label><br />
      <input type="text" name="name" id="name" value="<%= plainData.name %>" /><br /><br />

      <label for="email">Email</label><br />
      <input type="email" name="email" id="email" value="<%= plainData.email %>" /><br /><br />

      <label for="discordId">Discord</label><br />
      <input type="text" name="discordId" id="discordId" value="<%= plainData.discordId %>" /><br /><br />

      <label for="profileImage">Profile Image</label><br />
      <input type="file" name="image" id="image" accept="image/*" /><br /><br />

      <button type="submit">Save Changes</button>
    </form>
  </body>
</html>
