<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Profile of <%= plainData.User.username %></h1>
    <p><img style="width: 150px;height: 100px;" src="<%= plainData.imageURL %>" alt="Image Here"></p>
    <p>Name: <%= plainData.name || 'Not set' %></p>
    <p>Email: <%= plainData.email || 'Not set' %></p>
    <p>Discord ID: <%= plainData.discordId || 'Not set' %></p>
    <br>
    <button><a href="/profile/edit">Edit Profile</a></button>
  </body>
</html>
